/* styl */   
            
/* ***** */  
/* fonty */   
/* ***** */  
@font-face {
  font-family: text;
  src: url('./text.ttf');
}
@font-face {
  font-family: nadpis;
  src: url('./nadpis.ttf');
}
                
/* *********** */  
/* hlavní styl */  
/* *********** */                   
body {                              
 font-family: text, arial, sans-serif; 
 font-size: 1.1em;                                 
 margin: 0;                 
 background-color: #DBCF96;          
}   
#wb, #wf {  
 padding: 15px 8%;
}
#wb {
 text-align: justify; 
 background-image: url('./binding_dark.png'); 
 background-repeat: repeat;             
 color: #bbbbbb;
 box-shadow:  0 0 100px #000000;    
 z-index: 6;
}  

/* ******** */
/* hlavička */ 
/* ******** */  
#wh {                        
 height: 10em; 
 position: relative;  
 background-image: url('./wh_p.png');
 background-position: left top;
 background-repeat: repeat-x;   
 color: #222222; 
 z-index: 8;
} 
#wh a {
 text-decoration: none;
}     
/* h1 */
#wh_h1 {  
 position: absolute;
 left: 8%;
 top: 30px;
 font-family: nadpis, sans-serif;
}
/* log - přihlášení, registrace */
#wh_log {
 position: absolute;
 right: 8%;
 top: 3em;    
 color: #444444;
}
#wh_log span {
 padding: 0 2em;     
}
#wh_log a {
 color: #222222;
}     
#wh_log a:hover {
 text-shadow: 0 0 1px #000000 ;
}    
/* menu - ul */                    
#wh_menu_ul {
 list-style-type: none;                    
 padding: 0 8%;  
 position: absolute;   
 bottom: 1em;
 left: 0;
 width: 84%;    
 margin-bottom: 0;   
 padding-top: 5px;
}
.wh_menu_li {
 float: left;    
 width: 25%;
 position: relative;        
}                                
.wh_menu_li_a  {
 color: #222222;   
}
#wh_menu ul a {
 display: block;
 text-align: center;    
 font-variant: small-caps;   
} 
#wh_menu ul li:hover .wh_menu_li_a{
 font-weight: bolder;
 background: #222222;  
 color: #ffffff; 
 border-radius: 6px 6px 0 0;
}
#wh_menu ul ul {            
 display: none;     
 padding: 0 ;
 width: 100%; 
 text-align: left;       
 clear: both;            
 position: absolute;    
 list-style-type: none;     
}  
#wh_menu ul ul a {
 text-align: left;
 padding: 1px 10px ;
 background: #DBCF96;
 color: #222222;         
 font-variant: normal;
}  
#wh_menu ul ul a:hover {
 background: #dddddd;       
 color: #675B23;
}

/* ******* */
/* patička */  
/* ******* */
#wf_b {
 font-weight: bold;
}
                  
/* ********* */
/* styl body */
/* ********* */  
a {
 text-decoration: none;
 color: #DBCF96; 
}
a:hover {
 text-shadow: 0 0 1px white;
}

 
/* ******** */
/* formulář */
/* ******** */                       
input[type='text'], input[type='password']{
 background: #DBCF96;
 border: none ;
 box-shadow: inset 0 0 5px #000000;
 color: #000000;
 padding: 1px 5px ;
}    
select {
 color: #252525;
 background: -webkit-linear-gradient(#DBCF96,#8B845F);
 background: -o-linear-gradient(#DBCF96,#8B845F);
 background: -moz-linear-gradient(#DBCF96,#8B845F);
 background: linear-gradient(#DBCF96,#8B845F);
 font-size:0.86em;
 padding: 0px 6px;
 box-shadow: inset 0 0 2px #000000;
 border: 0 ;
}
.vyhledavani {
 float: left;   
 display: block;
 margin: 0 15px;
 position: relative;
 width: 16em;
}     
.select {
 width: auto;
}
.vyhledavani input {
 position: absolute;
 left: 7em;
 top: 0;
}
.form_oddil, .clear_both, .vyhledavani_button {
 clear: both;
 position: relative;
 height: 1.4em;
}
.vyhledavani_button {
 position: absolute;
 left: 15px;
 top: 0;
}
.form_d {
 position: relative;
 left: 10em;
 top: -1.2em;
}
 
    
/* ******* */
/* ostatní */
/* ******* */ 
.ok {
 color: #21EC21;
 font-style: italic;
}
.chyba {            
 color: #FF2E23;  
 font-style: italic;
}
.mbtn {
 color: #252525;
 background: -webkit-linear-gradient(#DBCF96,#8B845F);
 background: -o-linear-gradient(#DBCF96,#8B845F);
 background: -moz-linear-gradient(#DBCF96,#8B845F);
 background: linear-gradient(#DBCF96,#8B845F);
 font-size:0.86em;
 padding: 0px 6px;
 box-shadow: inset 0 0 2px #000000;
}
.mbtn:hover {
 color: #000000;
 background: -webkit-linear-gradient(#DBCF96,#8B845F);
 background: -o-linear-gradient(#DBCF96,#8B845F);
 background: -moz-linear-gradient(#DBCF96,#8B845F); 
 background: linear-gradient(#DBCF96,#8B845F);
 padding: 1px 6px;
 box-shadow: inset 0 0 2px #999999;    
 cursor: pointer;
}
.x {
 display: block;
 background-image: url("x.png");
 width: 20px;
 height: 20px;
 right: 0;
 margin-bottom: 2em;
}
.x:hover {
 box-shadow: inset 0 0 4px #999999;    
 cursor: pointer;
}
.display-none {
 display: none;
}               
.display-inline {
 display: inline;
}
#index h3 {
 color: #81FC25;
}
#index h2 {
 color: #FFD523;
}

/***********/
/* Tabulky */
/***********/
.table_1 {
 width: 20%;
}
.table_3 {
 width: 99%;
}
.table_3 th{
 width: 33%;
}      
.table_3_staveb {
 width: 100%;
}
.table_3_staveb th{
 width: 20%;
}
.table_3_staveb .table_cn {
 width: 60%;
}
.table_4 {
 width: 100%;
}
.table_4 th{
 width: 25%;
}            
.table_4_staveb {
 width: 100%;
}
.table_4_staveb th{
 width: 15%;
}
.table_4_staveb .table_cn {
 width: 40%;
}
.table_5 {
 width: 100%;
}
.table_5 th{
 width: 20%;
}
.table_5_staveb {
 width: 100%;
}
.table_5_staveb th{
 width: 15%;
}
.table_5_staveb .table_cn {
 width: 40%;
}
.table_6 {
 width: 96%;
}
.table_6 th{
 width: 16%;
}
.table_7 {
 width: 98%;
}
.table_7 th{
 width: 14%;
}
.table_8 {
 width: 100%;
}
.table_8 th{
 width: 12.5%;
}

table {
 border-collapse: collapse;
 text-align: left;
}
table th{
 color: #FFD523;
 font-weight: normal;      
 padding: 0 3%;
 background: rgba(0,0,0,0.5);
}
table th:first-of-type{
 border-radius: 10px 0 0 0; 
}
table th:last-of-type {
 border-radius: 0 10px 0 0; 
}
table td {
 padding: 0 3%;
}
.table_tr_0 {
 background: rgba(255,255,255,0.1);
}
.table_tr_1 {
 background: rgba(255,255,255,0.2);
}
.table_td_th {
 color: #81FC25;     
 background: rgba(0,0,0,0.2);
}


 
         
/* ************ */
/* Tiskový styl */ 
/* ************ */
@media print {
 body {       
  visibility: hidden;
  background: white;
  font-family: times, 'Times New Roman', serif;
 }
 #baleni table{
  visibility: visible;
  position:absolute;
  top:0;
  left:0;
  background-color: white;
  color: black;
  width: 98%;
  border-radius: 0;
  border: 3px solid black;
 } 
 #baleni table th{
  color: black;
  background-color: white;
  padding: 0 2px;
  font-weight: bolder;
  width: 14%;            
  border: 3px solid black;     
  border-bottom: 1px solid black;    
 }
 #baleni table td{
  width: 14%;      
  padding: 0 4px;
  border: 3px solid black;          
  border-top: 1px solid black;       
  border-bottom: 1px solid black;   
 }
}